<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--@thymesVar id="user" type="ru.tbcarus.spendingsb.model.User"-->
<!--@thymesVar id="Role" type="ru.tbcarus.spendingsb.model.Role"-->
<nav th:fragment="bodyHeader" class="navbar navbar-expand-md navbar-dark bg-dark py-0">
    <div class="container-fluid p-1">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/payments}">Home</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="true" href="#">Добавить
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <form id="add_friend" th:action="@{/payments/profile/addfriend}" method="post">

                            <li>
                                <input class="col-4 me-2" type="text" placeholder="Email" name="email" id="email"
                                       style="border-radius:5px; width: 150px">
                            </li>
                            <li>
                                <button class="btn btn-success col-1" type="submit" id="btnAddFriend"
                                        style="width: 150px">
                                    Отправить
                                </button>
                            </li>
                        </form>
                    </ul>
                </li>
            </ul>

            <div class="me-2">
                <a class="btn btn-info" th:if="${user.isAdmin()}" th:href="@{/admin/users}">Пользователи</a>
            </div>
            <div class="ms-2">
                <a th:href="@{profile/notes}">
                    <img th:if="${user.isNewNotify()}" th:src="@{images/bell-active.png}" width="32">
                    <img th:unless="${user.isNewNotify()}" th:src="@{images/bell.png}" width="32">
                </a>
            </div>
            <div class="ms-2">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-success" type="submit">
                        <img th:src="@{/images/icon-exit.gif}" width="32">
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>

</body>
</html>