<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--@thymesVar id="user" type="ru.tbcarus.spendingsb.model.User"-->
<!--@thymesVar id="Role" type="ru.tbcarus.spendingsb.model.Role"-->
<nav th:fragment="bodyHeader" class="navbar navbar-expand-md navbar-dark bg-dark py-0">
    <div class="container-fluid p-1">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/payments}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <div class="me-2">
                <a class="btn btn-info" th:if="${user.isAdmin()}" th:href="@{/admin/users}">Пользователи</a>
            </div>
            <div class="ms-2">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-success" type="submit">
                        <img th:src="@{/images/icon-exit.gif}" width="32">
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>

</body>
</html>