<!--@thymesVar id="user" type="ru.tbcarus.spendingsb.model.User"-->
<!--@thymesVar id="DU" type="ru.tbcarus.spendingsb.util.DateUtil"-->
<!--@thymesVar id="pt" type="ru.tbcarus.spendingsb.model.PaymentType"-->
<!--@thymesVar id="p" type="ru.tbcarus.spendingsb.model.Payment"-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список затрат</title>
    <div th:replace="fragments/fragments :: headTag"></div>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<nav th:replace="fragments/fragments :: bodyHeader"></nav>

<div class="container shadow">

    <!--    Верхняя строка-->
    <div class="row" style="background-color: rgb(255, 87, 34)">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-center">
                    <span th:text="'Период: ' + ${user.startPeriodDate.format(T(ru.tbcarus.spendingsb.util.DateUtil).DTFORMATTER_DATE_ONLY_RU)}
                        + ' - '
                        + ${user.getEndPeriodDate().format(T(ru.tbcarus.spendingsb.util.DateUtil).DTFORMATTER_DATE_ONLY_RU)}"
                          class="text-white">Period
                    </span>
        </div>
        <div class="col-md-2 d-flex justify-content-end">
            <a th:href="'payments/profile'" th:text="${user.name}"
               class="text-white">User</a>
        </div>
    </div>

    <form method="post" action="payments/addSeveral">
        <!--    Вторая строка - кнопки-->
        <div class="row">
            <div class="col-md-2">
                <input type="button" onclick="window.location.href = '/payments'"
                       value="Обновить"
                       class="btn btn-secondary"
                />
            </div>
            <div class="col-md-8 d-flex justify-content-center">
                <button type="submit"
                        class="btn btn-secondary">
                    Сохранить
                </button>
            </div>
            <div class="col-md-2">
                <input type="button" onclick="window.location.href = 'payments/create'"
                       value="Добавить новую запись"
                       class="btn btn-secondary"/>
            </div>
        </div>

        <!--    Строка с суммой всех затрат и выбором даты-->
        <div class="row align-items-center text-warning" style="background-color: rgb(96, 125, 139); height: 40px">
            <div class="col-md-2 text-warning">
                <strong th:text="'Всего: ' + ${sumAll}"></strong>
            </div>
            <div class="col-md-8 d-flex justify-content-center">
                <strong> Внести записи на дату:&nbsp;</strong>
                <input th:type="date" th:name="chosen_date"
                       th:value="${T(ru.tbcarus.spendingsb.util.DateUtil).getLocalDateTimeNow().format(T(ru.tbcarus.spendingsb.util.DateUtil).DTFORMATTER_DATE_ONLY)}">
            </div>
            <div class="col-md-2 d-flex justify-content-end"></div>
        </div>

        <!--    Таблица затрат-->
        <div class="row">
            <div class="col-md-12">
                <!--            <table class="table w-auto table-striped table-sm table-bordered align-middle text-center">-->
                <table class="table table-bordered table-striped table-sm align-middle text-center">
                    <thead class="">
                    </thead>
                    <tbody>
                    <!--        Заполнение шапки таблицы-->
                    <tr>
                        <!--        <th th:each="pt:${paymentTypes}" th:utext="${pt.descriptionOutput} ? ${pt.title}+'<th>Описание</th>' : ${pt.title}">-->
                        <!--        </th>-->
                        <div th:each="pt : ${paymentTypes}">
                            <td>
                                <a th:href="'payments/byType?type=' + ${pt.name}">
                                    <span th:text="${pt.title}">
                                        ТИП
                                    </span>
                                </a>
                            </td>
                            <td th:if="${pt.descriptionOutput}" th:text="Описание">ОП</td>
                        </div>
                    </tr>

                    <!--        Вывод сумм трат по типам-->
                    <tr>
                        <div th:each="pt : ${paymentTypes}">
                            <td>
                                <p th:text="${sumMapByType.get(pt)}">SUM</p>
                            </td>
                            <td th:if="${pt.descriptionOutput}"></td>
                        </div>
                    </tr>

                    <!--        Вывод ячеек для добавления трат-->
                    <div th:each="i : ${#numbers.sequence(0,1,1)}">
                        <tr>
                            <div th:each="pt : ${paymentTypes}">
                                <td>
                                    <input type="text" th:name="${pt.name}" style="width: 70px">
                                </td>
                                <td th:if="${pt.descriptionOutput}">
                                    <input type="text" th:name="${pt.name + '_description'}" style="width: 110px">
                                </td>
                            </div>
                        </tr>
                    </div>

                    <!--        Вывод записей затрат в таблицу-->
                    <div th:if="${maxSize} > 0">
                        <th:block th:each="i : ${#numbers.sequence(0, maxSize - 1, 1)}">
                            <tr>
                                <div th:each="pt : ${paymentTypes}">
                                    <td>
                                        <!--                        <span th:if="${i < PaymentsMap.get(pt).size()}"-->
                                        <!--                              th:text="${PaymentsMap.get(pt)[i].price}">V</span>-->
                                        <input type="button" th:if="${i < PaymentsMap.get(pt).size()}"
                                               th:onclick="|window.location.href = '/payments/${PaymentsMap.get(pt)[i].id}'|"
                                               th:value="${PaymentsMap.get(pt)[i].price}" class="btn btn-secondary"/>
                                    </td>
                                    <td th:if="${pt.descriptionOutput}">
                        <span th:if="${i < PaymentsMap.get(pt).size()}"
                              th:text="${PaymentsMap.get(pt)[i].description}"></span>
                                    </td>
                                </div>
                            </tr>
                        </th:block>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    <!--    Нижние кнопки-->
    <div class="row">
        <div class="col-md-4">
            <input type="button" onclick="window.location.href = '/payments/toCurrentDate';"
                   value="Показать записи до сегодняшней даты"
                   class="btn btn-secondary"/>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <input type="button" onclick="window.location.href = '/payments/allTime';"
                   value="Показать записи за всё время"
                   class="btn btn-secondary"/>

        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <input type="button" onclick="window.location.href = '/payments/allUsersPayments';"
                   value="Показать записи всех пользователей"
                   class="btn btn-secondary"/>
        </div>
    </div>

    <hr>

    <!--    Изменение начальной даты-->
    <form th:method="POST" th:action="@{/payments/profile/changeStartDate}">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <select name="start_day">
                    <option th:value="${user.startPeriodDate.dayOfMonth}"
                            th:text="${user.startPeriodDate.dayOfMonth}" selected hidden>TEXT
                    </option>
                    <option th:each="i : ${#numbers.sequence(1, 28, 1)}" th:value="${i}" th:text="${i}"></option>
                </select>
                <select name="start_month">
                    <option th:value="${user.startPeriodDate.month.value}"
                            th:text="${user.startPeriodDate.month.getDisplayName(
                            T(java.time.format.TextStyle).FULL,
                            T(java.util.Locale).forLanguageTag('ru'))}" selected hidden>
                    </option>
                    <option th:each="i : ${#numbers.sequence(1, 12, 1)}"
                            th:value="${i}"
                            th:text="${T(java.time.Month).of(i).getDisplayName(
                            T(java.time.format.TextStyle).FULL,
                            T(java.util.Locale).forLanguageTag('ru'))}">
                    </option>
                </select>
                <select name="start_year">
                    <option th:value="${user.startPeriodDate.year}"
                            th:text="${user.startPeriodDate.year}" selected hidden>

                    </option>
                    <option th:each="i : ${#numbers.sequence(2010, T(java.time.Year).now().getValue(), 1)}"
                            th:value="${i}"
                            th:text="${i}">
                    </option>
                </select>
                <button type="submit" class="btn btn-secondary">
                    Изменить начальную дату
                </button>
            </div>
        </div>
    </form>

    <!--    copyright-->
    <div th:replace="fragments/fragments :: copy"></div>

</div>
</body>
</html>