<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>Список затрат</title>
    <div th:replace="~{fragments/headTag :: headTag}"></div>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<nav th:replace="~{fragments/loginBodyHeader :: loginBodyHeader}"></nav>
<div class="jumbotron bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center alert alert-success" th:if="${param.logout}">
            You have been logged out.
        </div>
        <div class="row" th:if="${param.request}">
            <div th:if="${param.request[0] == 'registered'}" class="alert alert-success">
                <span th:text="'Пользователь ' + ${param.username} + ' зарегистрирован.'">SPAN1</span>
                <span th:text="'На e-mail ' + ${param.username} + ' отправлено письмо для подтверждения регистрации.'">SPAN2</span>
            </div>
            <div th:if="${param.request[0] == 'resend'}" class="alert alert-success">
                <span th:text="'На e-mail ' + ${param.username} + ' повторно отправлено письмо для подтверждения регистрации.'">SPAN3</span>
            </div>
            <div th:if="${param.request[0] == 'reset'}" class="alert alert-success">
                <span th:text="'На e-mail ' + ${param.username} + ' отправлено письмо для смены пароля.'">SPAN4</span>
            </div>
            <div th:if="${param.request[0] == 'reset-success'}" class="alert alert-success">
                <span th:text="'Пароль пользователя ' + ${param.username} + ' изменён.'">SPAN4</span>
            </div>
            <div th:if="${param.request[0] == 'repeat-requests'}" class="alert alert-warning">
                <span th:text="'Ранее на почту '
                + ${param.username}
                + ' уже была выслана ссылка с действующим запросом. Повторить запрос можно через '
                + ${T(ru.tbcarus.spendingsb.util.ConfigUtil).getStringDefaultDays()}
                + ' или обратитесь по адресу q@w.e'">
                SPAN4
                </span>
            </div>
        </div>
        <div class="row p-3">
            <div class="col"></div>
            <div class="col d-flex justify-content-center">
                <a class="btn btn-lg btn-secondary" th:href="@{/register}">Регистрация &raquo;</a>
            </div>
            <div class="col"></div>
        </div>
        <div class="" th:unless="${param.logout} or ${param.request}">
            <div class="row p-1 d-flex justify-content-center">
                Вы находитесь на странице приложения для записи трат
            </div>
            <div class="row p-1 d-flex justify-content-center">
                Пройдите регистрацию, чтобы начать пользоваться приложением
            </div>
            <div class="row p-1 d-flex justify-content-center">
                Краткое описание доступно на странице информации
            </div>
            <div class="row p-1 d-flex justify-content-center">
                В случае возникновения сложностей, замечаний или предложений, пожалуйста, напишите по почте
                <a class="d-flex justify-content-center"
                        href="mailto:spending-sb@yandex.ru">spending-sb@yandex.ru</a>
            </div>
        </div>
    </div>
</div>
<!--    copyright-->
<div th:replace="~{fragments/footer :: copy}"></div>
</body>
</html>