<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список затрат</title>
    <div th:replace="~{fragments/headTag :: headTag}"></div>
</head>
<body>
<!--@thymesVar id="err" type="ru.tbcarus.spendingsb.model.ErrorType"-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
<nav th:replace="~{fragments/loginBodyHeader :: loginBodyHeader}"></nav>
<!--<form th:action="@{/login}" method="post">-->
<!--    <div><label> User Name : <input type="text" name="username"/> </label></div>-->
<!--    <div><label> Password: <input type="password" name="password"/> </label></div>-->
<!--    <div><input type="submit" value="Sign In"/></div>-->
<!--</form>-->
<div class="jumbotron bg-light">
    <div class="container py-4">
        <div th:if="${param.error}" class="alert alert-warning">
            Invalid username or password. For password recovery type your e-mail and click the button.
            <div th:if="${param.error[0] == 'no-user-found'}" class="alert alert-danger" th:text="'Пользователь ' + ${param.username} + ' не зарегистрирован.'">

            </div>
            <form th:method="post" th:action="@{/payments/profile/register/password-reset-request}">
                <input type="text" name="email" placeholder="e-mail">
                <button class="btn btn-lg btn-primary" type="submit">Отправить</button>
            </form>
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>
        <div th:if="${param.request}">
            <div th:if="${param.request[0] == 'registered'}" class="alert alert-success">
                <span th:text="'Пользователь ' + ${param.username} + ' зарегистрирован.'">SPAN1</span>
                <span th:text="'На e-mail ' + ${param.username} + ' отправлено письмо для подтверждения регистрации.'">SPAN2</span>
            </div>
            <div th:if="${param.request[0] == 'resend'}" class="alert alert-success">
                <span th:text="'На e-mail ' + ${param.username} + ' повторно отправлено письмо для подтверждения регистрации.'">SPAN3</span>
            </div>
            <div th:if="${param.request[0] == 'reset'}" class="alert alert-success">
                <span th:text="'На e-mail ' + ${param.username} + ' отправлено письмо для смены пароля.'">SPAN4</span>
            </div>
            <div th:if="${param.request[0] == 'reset-success'}" class="alert alert-success">
                <span th:text="'Пароль пользователя ' + ${param.username} + ' изменён.'">SPAN4</span>
            </div>
            <div th:if="${param.request[0] == 'repeat-requests'}" class="alert alert-warning">
                <span th:text="'Ранее на почту '
                + ${param.username}
                + ' уже была выслана ссылка с действующим запросом. Повторить запрос можно через '
                + ${T(ru.tbcarus.spendingsb.util.ConfigUtil).getStringDefaultDays()}
                + ' или обратитесь по адресу q@w.e'">
                SPAN4
                </span>
            </div>
        </div>
        <br>
        <p>
            <a class=" btn btn-lg btn-secondary" href="payments/profile/register">Регистрация &raquo;</a>
            <button type="submit" class="btn btn-lg btn-primary" onclick="login('l@og.in', 'password')">
                Зайти как Admin
            </button>
            <button type="submit" class="btn btn-lg btn-primary" onclick="login('l1@og.in', 'password3')">
                Зайти как SuperUser
            </button>
            <button type="submit" class="btn btn-lg btn-primary" onclick="login('l2@og.in', 'password2')">
                Зайти как User
            </button>
            <button type="submit" class="btn btn-lg btn-primary" onclick="login('tbcarus@yandex.ru', 'pass')">
                Зайти как new User
            </button>
            <button type="submit" class="btn btn-lg btn-primary" onclick="login('q1@gmail.com', 'qwerty')">
                Зайти как q1
            </button>
        </p>
    </div>
</div>
<!--    copyright-->
<div th:replace="~{fragments/footer :: copy}"></div>
<script type="text/javascript">
    function login(username, password) {
        document.getElementById("username").value = username;
        document.getElementById("password").value = password;
        document.getElementById("btnLogin").click();
        // $('input[name="username"]').val(username);
        // $('input[name="password"]').val(password);
        // $("#login_form").submit();
    }
</script>
</body>
</html>